<div id="footer" class="clear">
  <p>页面由 <a href="http://phy25.com">Phy25</a> 设计。感谢 <a href="https://github.com/fleetingjz/fleetingjz.github.io/">Github Pages</a> 托管。<a href="introduction.html#contact">联系项目组在这里</a>，<a href="/ugc_delete.html" title="Phy25.com 全站删贴指南">删贴来这里</a>。页面最后更新于 {% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y年%m月%d日" }}</time>{% else %}<time datetime="{{ site.time | date_to_xmlschema }}" title="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%Y年%m月%d日" }}</time>{% endif %}。</p>
</div>
</div>
</body>
</html>