<div class="nav">
    <ul>
      <li>
        <a href="{{ site.base }}/introduction.html"{% if page.categories contains 'introduction' %} class="current"{% endif %}>项目介绍</a>
        <div class="divider"></div>
      </li>
      <li>
        <a href="{{ site.base }}/works.html"{% if page.categories contains 'works' %} class="current"{% endif %}>成果分享</a>
        <div class="divider"></div>
      </li>
      <li class="last-child">
        <a href="{{ site.base }}/news/"{% if page.path contains '_posts' or page.layout == 'news_item' %} class="current"{% endif %}>项目动态</a>
        <div class="divider"></div>
      </li>
    </ul>
  </div>