<div class="nav">
    <ul>
      <li>
        <a href="introduction.html"{% if page.categorise contains 'introduction' %} class="current"{% endif %}>项目介绍</a>
        <div class="divider"></div>
      </li>
      <li>
        <a href="works.html"{% if page.categorise contains 'works' %} class="current"{% endif %}>成果分享</a>
        <div class="divider"></div>
      </li>
      <li class="last-child">
        <a href="news/"{% if page.categorise contains 'news' %} class="current"{% endif %}>项目动态</a>
        <div class="divider"></div>
      </li>
    </ul>
  </div>