body{font:14px "Microsoft Yahei",Arial,Helvetica,sans-serif;color:#000;margin:0;}
#wrapper{max-width:800px;width:auto;_width:800px;margin:0 auto;padding:0 1em;position:relative;}
img{border:none}
h1{font-size:1.6em;}
h2{font-size:1.3em;margin:10px 0}
h1,h2,.clear{clear:both;}
ul, ol{margin:1em 0 1em 2.5em;padding:0;}
ul li{list-style:circle;}
ul li, ol li{margin:0.5em 0;}
p{margin:.4em 0;line-height: 1.5em;color:#111;}
a{color:#336699;padding:2px 4px;margin: 0 4px;}
a:hover{color:#FFF;background:#6699cc}
acronym{border-bottom: 1px dotted #333;}
.hide,.fuck_G_F_W{display:none}
.announcement{background:#FFA;border-width:1px;border-color:#600;border-top-style:solid;border-bottom-style:solid;text-align:center;padding:3px 0;margin:0 3px;}
.announcement a{padding:2px;}
.announcement a:hover{color:#FFA;background:#080;}
.clear{clear:both;}

body{
	/* Thanks to http://www.colorzilla.com/gradient-editor/ */
	background: #FFF; /* Old browsers */
	background: -moz-linear-gradient(top,  #6699cc 0%, #FFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6699cc), color-stop(100%,#FFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6699cc 0%,#FFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6699cc 0%,#FFF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6699cc 0%,#FFF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6699cc 0%,#FFF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6699cc', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */
	background-size: auto 300px;
	background-repeat: repeat-x;
}

#slogan{float: left; margin: 10px 0 0 15px; width: 16em;}
#header{margin:0;padding: 10px 0 0 0;}
#wrapper.landing #header h1{margin:5px 0 .5em 0;}
#wrapper.content #header h1{float:left;margin:15px 0 10px 15px;}
#header h1 a, #header h1 a:hover{color:#000;background:none;text-decoration: none;padding:0;}

#video{float: right; margin: 10px 10px 20px; border: 1px solid #B59A5E; padding: 5px; background: #E4D886; box-shadow: 3px 3px #9D751C; border-radius: 7px; +width:480px;}
#video .left{float:left;}
#video .right{float:right;}
#video_alternative_btn{}
#video_alternative_btn a {
	text-decoration: none;
	border: 3px solid #FFF;
	color: #FFF;
	background: #B59A5E;
	border-radius: 3em;
	width: 1.1em;
	height: 1.2em;
	display: block;
	line-height: 1.1em;
	text-align: center;
	font-size: 3em;
	margin: .5em auto;
}
#video_alternative_btn a:hover{background: #9D751C;}
#video_alternative_btn a:active{background: #336699;}
#video .content.hide_mobile{display:block;}
#video .content.show_mobile{display:none;}

#wrapper.content .nav ul{margin:5px 0 5px 50px; float:left; color:#000;}
#wrapper.content .nav li{list-style-image:none;list-style-position:outside;list-style-type:none;float:left;margin: 0;text-align: center;}
#wrapper.content .nav a{display: block;text-decoration: none;margin: 1em .5em; padding: 0.2em 0.6em;}
#wrapper.content .nav a.current, #wrapper.content .nav a:hover{background:#336699;color:#DDD; border-radius: 5px;}

#wrapper.landing .nav ul{margin:10px;}
#wrapper.landing .nav li{list-style-image:none;list-style-position:outside;list-style-type:none;float:left;font-size: 2em;
margin: 0;width:35%;/* 35*2+30=100 */}
#wrapper.landing .nav a{padding: 30px 0;width:90%;display: block;text-decoration: none;float:left;text-align: center;}
#wrapper.landing .nav .divider{width: 5%; height: 65px; display: block; float: right; margin: 15px 0 0 0; border-left: 1px solid #000;}
#wrapper.landing .nav li.last-child .divider{display:none;}
#wrapper.landing .nav li.last-child{width:30%;}
#wrapper.landing .nav li.last-child a{width:100%;}

.member{margin:1em 0 0;}
.member h2{font-size:1em; display:block; float:left; margin:0 20px 0 0;}
.member ul{display:block; float:left; margin:0;}
.member ul li{list-style-image:none;list-style-position:outside;list-style-type:none;float:left;margin: 0 5px;}

#footer{margin:2em 0 0;}

#o-v1{
	text-align: center;
}
#o-v1 p{
	position: absolute;
	bottom: 0;
}
#o-v1 li{
	width:150px;
	height:200px;
	margin:.5em;
	float:left;
	list-style: none;
	position: relative;
}
#o-v1 a.img, #o-v1 a.img:hover{
	background: transparent;
	padding: 0;
	margin: 0;
}

@media (max-width: 800px) {
	#wrapper.landing #header h1{margin-bottom:10px;}
	#slogan{width:auto;}
	#video {
		float: none;
		margin: 10px auto;
		max-width: 480px;
		clear: both;
	}
}
@media (max-width: 530px) {
	#wrapper{padding:0 .5em;}
	#video{clear: both;margin: 5px 2%; padding: 1px 2%;box-shadow: none;}
	#video .content.hide_mobile{display:none;}
	#video .content.show_mobile{display:block;}

	#wrapper.landing .nav ul, #wrapper.content .nav ul{margin:2%;width:98%;clear:both;}
	#wrapper.landing .nav li, #wrapper.content .nav li{list-style-image:none;list-style-position:outside;list-style-type:none;float:none;font-size: 1em; margin: 0; width:92%;}
	#wrapper.landing .nav a, #wrapper.content .nav a{padding: 8px 13px;width:100%;display: block;text-decoration: none;float:left;text-align: left;border:1px solid #336699;margin:0 0 -1px;background: #FFF;}
	#wrapper.landing .nav a:hover, #wrapper.content .nav a:hover, #wrapper.content .nav a.current{background:#6699cc;color:#FFF;border-radius: 0;}

	#wrapper.landing .nav a:after, #wrapper.content .nav a:after{
		content:"\203A";
		float:right;
		font-size: 2em;
		line-height: .6em;
		-webkit-transition: -webkit-transform 0.2s linear;
		-moz-transition: -moz-transform 0.2s linear;
		-ms-transition: -ms-transform 0.2s linear;
		-o-transition: -o-transform 0.2s linear;
		transition: transform 0.2s linear;
	}
	#wrapper.landing .nav a:hover:after, #wrapper.content .nav a:hover:after{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	#wrapper.landing .nav a.current:after, #wrapper.content .nav a.current:after{
		content:"\2039";
	}
	#wrapper.landing .nav a.current:hover:after, #wrapper.content .nav a.current:hover:after{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	#wrapper.landing .nav .divider{display:none;}
	#wrapper .nav li:first-child a{border-radius: 6px 6px 0 0 !important;}
	#wrapper .nav li:last-child a{border-radius: 0 0 6px 6px !important;}
	#wrapper.landing .nav li:last-child{width:92%;}
/*
	#wrapper.content .nav{overflow-x: auto;overflow-y: hidden;width: 60%;height: 60px;}
	#wrapper.content .nav ul{width:260px;margin-left:10px;}
	#wrapper.content .nav a{margin:15px 5px;}
*/
}

@media (min-width: 980px) {
	#wrapper.landing{max-width:none;}
	body{font-size:16px;}
	#video{margin-left:0;margin-right:3%;}
	#slogan{width:25em;}
}
@media (min-width: 1200px) {
	#wrapper{width: 1170px;max-width:none;}
	#slogan{width:35em;}
}